
h3 {
  font-family: 'Manrope', sans-serif;
  padding-top: 40px;
  padding-bottom: 20px;
}

p {
  font-family: 'Lora', serif;
  font-size: 120%;
  font-weight: 400;
  text-align: justify;
  line-height: 25pt;
}

h4 {
  font-family: 'Lora', serif;
  font-size: 110%;
  font-weight: 600;
  text-align: justify;
  line-height: 25pt;
  padding-bottom: 10px;
  padding-top: 10px;
}
h5 {
  font-family: 'Lora', serif;
  font-size: 110%;
  font-weight: 1000;
  text-align: justify;
  line-height: 25pt;
  padding-bottom: 10px;
  padding-top: 20px;
}

